.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: #618dc3;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  gap: 24px;
}

.logo {
  display: inline-flex;
}

.logoImage {
  width: auto;
  height: auto;
  max-width: 100%;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.navListItem {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-accent);
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.header.scrolled .phone {
  color: var(--color-white);
}

.workingHours {
  color: var(--color-white);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.callbackBtn {
  border: none;
  background: none;
  font-size: 16px;
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 800;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-accent-hover);
  }
}
