.section {
  width: 100%;
  min-height: 420px;
  background-image: url("/images/header_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .section {
    min-height: 520px;
  }
}

@media (min-width: 1024px) {
  .section {
    min-height: 700px;
  }
}
